@page
@model IntroduccionRazorPages.Pages.SumaNumerosModel


@{
}

<h4>Suma de Dos Números</h4>
<form method="post">
    <p>Número 1:<input type="number" asp-for="num1"/></p>
    <p>Número 2:<input type="number" asp-for="num2"/></p>
    <p><input type="submit" value="Calcular" /></p>
</form>

@if(Model.suma !=0)
{
    <div>
        <strong>Suma = @Model.suma</strong>
    </div>
}
